.px-forest {
    height: calc(100vh + 20px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: $spacer-6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #0000004f;
        z-index: 1;
    }

    &__outer {
        overflow: hidden;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        height: 80%;
        position: absolute;
        z-index: 2;
        padding: $spacer-4;
        border: 2px solid $color-white;
        border-radius: 15px;
        transition: 0.3s;
    }

    &__nav {
        .navbar {
            background-color: transparent !important;
        }

        .navbar-brand {
            color: $color-white !important;
        }

        .navbar-collapse {
            flex-basis: 0% !important;
            flex-grow: 0 !important;
            justify-content: flex-end;
        }

        .nav-link {
            color: $color-white !important;
        }

        .navbar-toggler {
            order: 3 !important;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.0149 14C15.3609 13.9918 14.0083 15.3311 14 16.9851C13.9918 18.6391 15.3311 19.9917 16.9851 20C18.6391 20.0082 19.9917 18.6689 20 17.0149C20.0082 15.3609 18.6689 14.0082 17.0149 14Z' fill='white'/%3E%3Cpath d='M7.01504 13.9503C5.36106 13.9421 4.00838 15.2814 4.00016 16.9354C3.99194 18.5894 5.33123 19.942 6.98521 19.9503C8.63919 19.9585 9.99187 18.6192 10.0001 16.9652C10.0083 15.3112 8.66902 13.9586 7.01504 13.9503Z' fill='white'/%3E%3Cpath d='M27.0148 14.0497C25.3608 14.0415 24.0081 15.3808 23.9999 17.0348C23.9917 18.6888 25.331 20.0414 26.985 20.0497C28.639 20.0579 29.9916 18.7186 29.9998 17.0646C30.0081 15.4106 28.6688 14.0579 27.0148 14.0497Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }

    &__cnt {
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        padding: $spacer-6 0;
        font-size: 45px;
        color: $color-white;
        transition: 0.9s;
    }

    &__btn {
        padding: $spacer-2 $spacer-4;
        border: 1px solid $color-white;
        border-radius: 5px;
        color: $color-white;
        position: relative;
        text-transform: capitalize;
        max-width: 100px;

        &:hover {
            color: $color-white;

            &::after {
                width: 100%;
                transition: 0.3s;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #ffffff0c;
            transition: 0.3s;
        }
    }

    &__desc {
        font-size: 15px;
        margin-top: auto;
        color: $color-white;
    }
}